<server description="Sample Liberty server">

  <featureManager>
        <feature>jsp-2.3</feature>
        <feature>managedBeans-1.0</feature>
        <feature>mpFaultTolerance-1.0</feature>
        <feature>servlet-3.1</feature>
        <feature>ssl-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>mpHealth-1.0</feature>
        <feature>appSecurity-2.0</feature>
        <feature>jsonp-1.0</feature>
        <feature>mpConfig-1.1</feature>
        <feature>jaxrs-2.0</feature>
        <feature>el-3.0</feature>
        <feature>jaxrsClient-2.0</feature>
        <feature>concurrent-1.0</feature>
        <feature>jwt-1.0</feature>
        <feature>mpJwt-1.0</feature>
        <feature>json-1.0</feature>
        <feature>cdi-1.2</feature>
        <feature>distributedMap-1.0</feature>
        <feature>websocket-1.1</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />
  <quickStartSecurity userName="admin" userPassword="admin"/>


</server>
